@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Montserrat", sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0a192f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #30817d8c;
}
i {
  cursor: pointer;
}
i:hover {
  color: white;
}
.m {
  animation: m 1s infinite;
}
@keyframes m {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.5;
  }
}

.d {
  animation: d 1s infinite;
}
@keyframes d {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.a {
  animation: a 1s infinite;
}
@keyframes a {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


/* Handle on hover */
